 <div class="content_view">
  <div class="container">
    <h1>{{header}}</h1>
    <p>{{text}}</p>
    <p><a class="btn btn-primary btn-lg cloud-action"><i class="icon-external-link-sign"></i> {{buttonText}}</a></p>
  </div>
  <div class="hidden">
    <div class="response_content">
    </div>
  </div>
</div>